h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #fffff;
    background-color: #4aaa5
}
h2 {
    color: #4aaa5;
    font-size: 60px;
    background-color: #fffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    size: 30%;
}
p {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}
